
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



@font-face {
    font-family: vintage;
    src: url(./Vintage.ttf);
}
@font-face {
    font-family: americas;
    src: url(./LasAmericas_PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family: ubuntu;
    src: url(./Ubuntu-Regular.ttf);
}

p a span{
    font-size: ubuntu;
}


h1{
    font-family: americas;
}