
.search-input-settings {
    position: relative;
    padding-left: 20px;
}

.search-icon-settings {
    position: absolute;
    margin-left: 16px;
    margin-top: 6px;
    z-index: 1;
}




















































// Reset page
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// This style is a config for the search icon
// .search-icon-settings input {
//     width: 50%;
//     padding-right: 100px;
//     position: relative;
//     z-index: -1;
// }

// .search-icon-settings input::placeholder {
//     margin-left: 10px;
// }

// .search-icon-settings i {
//     position: absolute;
//     font-size: 20px;
    
// }

// .search-button {
//     background-color: 82 82 82 0;      
// }