html, body {
    height: 100%;
}

.title{
    margin-top: 130px;
    text-align: center;
}

.search-input-settings {
    position: relative;
    padding-left: 20px;
}

.search-icon-settings {
    position: absolute;
    margin-left: 16px;
    margin-top: 6px;
    z-index: 1;
}

#table-rounded{
    border: 2px solid #000000;
    border-radius: 10px;
}

.pencil{
    color: #daa520;
}

.pencil:hover{
    cursor: pointer;
}
.wrapper {
    min-height: 80%;
    margin-bottom: -100px;
}

.footer {
    height: 283px;
}

.selected-time {
    border: 2px solid black !important;
}