.photo_barber_contact{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    border-radius: 10px;
}

.btn-pageConctact{
    width: 100%;
    box-shadow: 40px 90% black;

}

h1{
    font-family: americas;
}